/*
Color Key:
-------	
	Dark Grey: #333333;
	Light Grey: #f8f8f8:
	Blue: #07aab0
*/


/* General Styles */
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background: #333333;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	color: #333333;
}

a,
a:visited {
	color: #07aab0;
	text-decoration: none;
}

a:hover{
	color: #333333;
	border-bottom: 1px dotted #333333;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold; 
}

.wrapper {
	width: 800px;
	height: 100%;
	background: #ffffff url('files/img/ricepaper2.png') repeat;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}


/* Header */
header {
	margin-bottom: 215px;
	padding-top: 20px;
	border-top: 5px solid #333333;
}

.logo {
	width: 50px;
	background: #07aab0;
	color: #ffffff;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 30px;
	line-height: 50px;
	border-radius: 100%;
	float: left;
	margin-right: 15px;
}

	.logo:hover {
		background: #ffffff;
		color: #07aab0;
	}

	.logo:active {
		color: #333333;
	}

.contact-info,
.website {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin-top: -2px;
}

.email {
	margin-top: 10px;
}
.extension {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 10px;
	font-style: italic;
}


.website {
	float: right;
	font-weight: bold;
	background: #07aab0;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	line-height: 30px;
	padding: 0 15px;
	border-radius: 15px;
	border-right: 3px solid #069196;
	border-bottom: 3px solid #069196;
}

.website:hover {
	background: #0cc3c9;
	border-right: 3px solid #027b7f;
	border-bottom: 3px solid #027b7f;
}

.website:active {
	border: none;
	margin: 1px 0 0 1px;
}


/* Content */

.left-column,
.right-column {
	width: 45%;
	float: left;
}

.left-column {
	margin-right: 10%;
}

.experience,
.education {
	margin-bottom:  100px;
}

h2 {
	font-size: 14px;
	line-height: 14px;
	text-transform:  uppercase;
	border-top: 2px solid #333333;
	border-bottom: 1px solid #333333;
	padding: 10px 0;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.employer,
.school {
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 5px;
	font-weight: bold;
}

.city{
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
}




















































